<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
@*<!DOCTYPE html>*@
<html>
<head>
    <title> @ViewData["Title"] </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width" />


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    <![endif]-->
    <script src="~/lib/html5shiv/html5shiv.js"></script>
    <script src="~/lib/respond.js/respond.js"></script>


    <environment include="Development">
        <link href="~/lib/easyui/themes/metro/easyui.css" rel="stylesheet" id="swicth-style" />
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="~/lib/bootstrap/fonts/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/layer/skin/layer.css" rel="stylesheet" />
        <link href="~/lib/admin-lte/css/AdminLTE.css" rel="stylesheet" />
        <!--皮肤-->
        <link href="~/lib/admin-lte/css/skins/skin-blue.css" rel="stylesheet" />

        <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
        <link href="~/lib/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />

        @*<link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />*@

        <link href="~/lib/select2/select2.css" rel="stylesheet" />
    </environment>

    <environment include="Production">
        <link href="~/css/table.min.css" rel="stylesheet" />
        <script src="~/js/table.min.js"></script>
    </environment>

    @RenderSection("styles", required: false)


</head>
<body class="easyui-layout">
    <div data-options="region:'center'" style="padding:5px;">
        @RenderBody();
    </div>
    <div data-options="region:'south',title:'South Title',split:true" style="height:100px;">

        <!-- To the right -->
        <div class="pull-right hidden-xs">
            签核箱 @DateTime.Now.Year
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; @DateTime.Now.Year <a href="#">NexChip</a>.</strong> All rights reserved.
    </div>


    @*<body class="hold-transition skin-blue sidebar-collapse">*@
    @*<div class="wrapper">
        <!-- Main Header -->
        <header class="main-header"></header>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content">
                <!--当创建基于_Layout.cshtml布局页面的视图时，视图的内容会和布局页面合并，视图的内容会渲染呈现在@RenderBody()处-->
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                签核箱 @DateTime.Now.Year
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">NexChip</a>.</strong> All rights reserved.
        </footer>

        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        @*<div class="control-sidebar-bg"></div>*@

    <!-- ./wrapper -->
    @*<script src="~/lib/jquery/jquery.min.js"></script>*@

    <environment include="Development">

        <script src="~/js/jquery1.9.1.js"></script>
        @*<script src="~/lib/popper.js/umd/popper.js"></script>*@
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>

        <script src="~/lib/bootstrap-daterangepicker/moment.min.js"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>

        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap.min.js"></script>

        <script src="~/lib/layer/layer.js"></script>

        @*<script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>*@
        <script src="~/lib/easyui/jquery.easyui.min.js"></script>
        <script src="~/lib/easyui/locale/easyui-lang-zh_CN.js"></script>

        <script src="~/lib/select2/select2.js"></script>
    </environment>


    @RenderSection("scripts", false)


</body>
</html>
