<!DOCTYPE html>

<html>
<head>
    <title>接口注册界面</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/lib/html5shiv/html5shiv.js"></script>
    <script src="~/lib/respond.js/respond.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css">
    <link href="~/lib/bootstrap/fonts/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/css/AdminLTE.css" rel="stylesheet" />

    <!--皮肤-->
    <link href="~/lib/admin-lte/css/skins/skin-blue.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />


    @RenderSection("styles", required: false)

</head>
<body class="hold-transition skin-blue sidebar-collapse">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            @*<!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>*@
        </header>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content">
                <!--当创建基于_Layout.cshtml布局页面的视图时，视图的内容会和布局页面合并，视图的内容会渲染呈现在@RenderBody()处-->
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                签核箱 @DateTime.Now.Year
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">NexChip</a>.</strong> All rights reserved.
        </footer>

        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/bootstrap-paginator.js"></script>
    <script src="~/lib/layer/layer.js"></script>


    @*<script src="~/lib/bootstrap-table/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>*@

        @*<script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>*@
        @*<script src="~/lib/bootstrap-daterangepicker/moment.min.js"></script>*@


    @*<script src="~/js/app.js"></script>
        <script src="~/lib/select2/select2.js"></script>
        <script src="~/lib/select2/select2_locale_zh-CN.js"></script>*@
    @RenderSection("scripts", false)
</body>
</html>
